<h1 class="text-center">New Cocktail</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <% if user_signed_in? %>
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Add Cocktail", class: "btn btn-success" %>
        <% end %>
      <% else %>
        <div class="text-center">
          <p>Please Sign Up or Login to view content!</p>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

